@mixin generate-aspect-ratio-classes($ratios) {
  @each $ratio in $ratios {
    $numerator: nth($ratio, 1);
    $denominator: nth($ratio, 2);

    .aspect-ratio-#{$numerator}-#{$denominator} {
      aspect-ratio: #{$numerator} / #{$denominator};
    }
  }
}

$ratios: (
  (3, 2),
  (2, 3),
  (1, 1)
);

@include generate-aspect-ratio-classes($ratios);
