$aspect-ratios: (
  1/1,
  3/2
);

@each $ratio in $aspect-ratios {
  $width: numerator($ratio);
  $height: denominator($ratio);

  .aspect-ratio-#{$width}-#{$height} {
    aspect-ratio: $ratio !important;
  }
}
