$aspect-ratios: (
  (1, 1),
  (3, 2)
);

@each $ratio in $aspect-ratios {
  $width: nth($ratio, 1);
  $height: nth($ratio, 2);

  .aspect-ratio-#{$width}-#{$height} {
    aspect-ratio: $width / $height;
  }
}
